/*
 * Globals
 */

a,
a:focus,
a:hover {
  color: #BD2031;
}

h1 {
  color: #2d56a8;
  font-size: 200px;
  text-align: center;
}

@media (max-width: 992px) {
  h1 {
    font-size: 100px;
  }
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333;
  text-align: center;
}

.content {
  background-color: #fff;
  background-color: rgba(255,255,255,0.90);
  margin: 20px;
  padding: 10px 40px;
}

p.lead {
  font-size: 18px;
}

ul.services {
  margin: 20px 0;
  font-size: 18px;
  list-style: none;
  padding-left: 0;
}

ul.services li img {
  background: url("../img/services_sprite.png") no-repeat top left;
  margin-right: 10px;
  margin-top: -2px;
}

}
