/*
 * Globals
 */

a,
a:focus,
a:hover {
  color: #BD2031;
}

h1 {
  color: #561420;
  font-size: 200px;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
  background-image: url("../img/map.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333;
  text-align: left;
}

.content {
  background-color: #fff;
  background-color: rgba(255,255,255,0.90);
  margin: 20px;
  padding: 10px 40px;
}

p.lead {
  font-size: 18px;
}

ul.services {
  margin: 20px 0;
  font-size: 18px;
  list-style: none;
  padding-left: 0;
}

ul.services li img {
  background: url("../img/services_sprite.png") no-repeat top left;
  margin-right: 10px;
  margin-top: -2px;
}

ul.services li img.etsy {
  background-position: -176px -288px;
  width: 16px;
  height: 16px;
}

ul.services li img.linkedin {
  background-position: -272px -96px;
  width: 16px;
  height: 16px;
}

ul.services li img.twitter {
  background-position: -80px 0;
  width: 16px;
  height: 16px;
}

ul.services li img.tumblr {
  background-position: -272px 0;
  width: 16px;
  height: 16px;
}
